
        
        
        
 
.maudo
{
    background-color: whitesmoke;
}    
.h1format
{
    
    text-align: center;
    font-size: 30px

}

.imgformat
{
    padding-left: 150px;
    width="60";
    height="200"
}
.pformat
{
    text-align: center;
    /* padding-left: 150px; */
    color :black
}
.liformat
{
    
    color :black;
}
.ulformat
{
    padding-left: 250px;
    color :black;    
}
.h3format
{
    color :black

}
.title1
{
    padding-top: 150px;
    padding-right: 15px;
    padding-bottom: 150px;
    padding-left: 150px;

}
*{
    box-sizing: border-box;
  }
  .nav {
    float: left;
    width: 40%;
    height: 500px; /* only for demonstration, should be removed */
    background:white;
    padding: 20px;


  }
.desimg
{
    border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: blueviolet;
    height: 300px; /* only for demonstration, should be removed */
  }
#box_root
{
    width: 100%;
    height: 100%;
    background-color: darkgray;
    

}
#title_box1
{
    width: 100%;
    height: 250px;
    background-color: skyblue;
    display: flex;
}
#ad_box1
{
    width: 20%;
    height: 100%;
    background-color: snow;
   

}
#title_box1_child2
{
    width: 60%;
    height: 210px;
    background-color: skyblue;
    

}
#info_box
{
    width: 100%;
    height: 220px;
    background-color: darkgray;
    display: flex;
}
#info_box_child1
{
    width: 30%;
    height: 220px;
    background-color: whitesmoke;

}
#info_box_child2
{
    width: 30%;
    height: 220px;
    background-color: whitesmoke;

}
#info_box_child3
{
    width: 30%;
    height: 220px;
    background-color: whitesmoke;

}
#info_box_child4
{
    width: 30%;
    height: 220px;
    background-color: whitesmoke;

}
#history_box
{
    width: 100%;
    height: 220px;
    background-color: lightslategray;
    display: flex;

}
#des_his_box
{   
   
    width: 60%;
    height: 850px;
    background-color: seashell;
}
.formatpara
{
    margin-left: 20px;
}
.stylelist
{
    list-style-type:
}
#formatdisplay 
{
    display: inline-flex;
}
#ad_box2
{
    width: 20%;
    height: 800px;
    background-color: snow;
   

}